#VS code, #VS pre, #VS tt {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  line-height: 18px;
  color: #444;
  background: none;
}
#VS code {
  margin-left: 8px;
  padding: 0 0 0 12px;
  font-weight: normal;
}
#VS pre {
  font-size: 12px;
  padding: 2px 0 2px 0;
  border-left: 6px solid #829C37;
  margin: 12px 0;
}
#search_query {
  margin: 18px 0 -24px;
  opacity: 0;
}
  #search_query .raquo {
    font-size: 18px;
    line-height: 12px;
    font-weight: bold;
    margin-right: 4px;
  }
.attribution {
  margin: -12px 0 24px;
  font-size: 14px;
}
a.thirdparty-link {
  font-weight: bold;
}

.pie-chart-label {
  display: block!important;
  width: 100%;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-top: -20px;
  position: absolute!important;
  top: 50%;
  font-weight: 300;
  font-size: 17px;
}

.switcher {
  height: 24px;
  width: 60px;
}
.switcher {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switcher>input[type=checkbox] {
  left: -100000px;
  position: absolute;
  visibility: hidden;
}
.switcher-toggler {
  background: #fff;
  border-radius: 9999px;
  height: 20px;
  margin-left: 1px;
  margin-top: 2px;
  width: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
.switcher-toggler {
  left: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.switcher-inner {
  display: block;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  word-spacing: 0;
}
.switcher-inner {
  border-radius: 9999px;
}

.switcher-state-off, .switcher-state-on {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 24px;
}
.switcher-state-off, .switcher-state-on {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}


.candidateCV {    
    height: 400px;
    width: 100%;
    overflow: scroll;
}

#example{
    width: 100%;
    min-height: 350px;
    /*margin-top: -45px;*/
}

ul.follower{
  border-top: 1px solid;
  border-top-color: #e4e4e4;
  list-style: none;
}

ul.follower li{
  /*padding: 10px 20px 0px;  */
  text-overflow: ellipsis;
  overflow: hidden;
}
.follower-email {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.widget-followers .body {
  line-height: 33px;
}

.pie-chart {
  display: inline-block !important;
  position: relative !important;
}
.pie-chart:before,
.pie-chart:after {
  content: " ";
  display: table;
}
.pie-chart:after {
  clear: both;
}
.pie-chart-label {
  display: block !important;
  width: 100%;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-top: -20px;
  position: absolute !important;
  top: 50%;
  font-weight: 300;
  font-size: 17px;
}

.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  text-align: center;
  border-radius: 2px;
  background-color: #222222;
  font-size: 11px;
  padding: 4px 10px;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 4px 0;
  color: #aaa;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 2px 0;
}

.employee_table th, tr td{
  text-align: left;
}
.panel-body.employee_table  {
  height: 386px;
  overflow: overlay;
}
.employee_table small {
  color: #e66454;
}
#else-panel .fa-trophy{
  color: #77c777;
}
.small-font{
  font-size: 20px;
}

tbody#table_configure{
  height:500px;
  overflow:overlay;
}