<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>EasyStaffing</title>
    </head>

    <body topmargin="0" rightmargin="0" bottommargin="0" leftmargin="0">        
        <h5><a href="<%=link%>">Click here to change the password</a></h5>
    </body>
</html>
